<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @offer.text %>
</p>

<p>
  <b>For sex:</b>
  <%= @offer.for_sex %>
</p>

<p>
  <b>Value:</b>
  <%= @offer.value %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
